body {
  background-color: rgb(3, 3, 65);
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
p {
  color: grey;
  font-size: smaller;
}
.pbu_movie_card > img:first-of-type {
  object-fit: cover;

}


div.background_top {
    position: relative;
    background-image: url(../contents/images/movie-cover-the-lost-husband-hero.jpg);
    min-width: fit-content;
    width: 100vw;
    height: 50vw;
    background-size: cover;
}

.top_menu .nav {
  background: none;
}
/*
div.pbu_movie_card {
  width: 400px;
}
.pbu_movie_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.pbu_movie_card_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
*/