body {
  background-color: rgb(3, 3, 65);
  color: aliceblue;
  font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 700;
}
p {
  color: grey;
  font-size: smaller;
}
.pbu_movie_card > img:first-of-type {
  object-fit: cover;

}


div.background_top {
    position: relative;
    background-image: url(../contents/images/movie-cover-the-lost-husband-hero.jpg);
    min-width: fit-content;
    width: 100vw;
    height: 50vw;
    background-size: cover;
}

.top_menu .nav {
  background: none;
}

.nav-flexbox {
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}